.carousel-container {
    position: relative;
    width: 100%;
    max-width: 900px; /* Adjust as needed */
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px 15px;
    z-index: 100;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}
